.block-form {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__inputs {
    display: flex;
    margin-bottom: rem(40px);

    @include screen-medium {
      justify-content: center;
    }
  }

  &__input-wrap {
    position: relative;
    width: rem(196px);

    &:not(:last-child) {
      margin-right: rem(28px);

      @include screen-medium {
        margin-right: 3%;
      }
    }

    @include screen-medium {
      width: 100%;
    }
  }

  &__input-name {
    position: absolute;
    top: rem(5px);
    left: rem(8px);
    font-size: rem(12px);
    font-weight: 400;
    color: $grey-600;
  }

  &__input {
    border: 1px solid $grey-700;
    padding: rem(6px);
    padding-top: rem(25px);
    width: 100%;
    font-size: rem(14px);
    font-weight: 400;
    color: $text-primary;

    &:focus {
      border-left-color: $focus-color;
    }
  }

  &__title {
    color: $text-primary;
    font-size: rem(19px);
    font-weight: 400;
    margin-bottom: rem(10px);
    width: 100%;

    @include screen-medium {
      font-size: rem(24px);
    }
  }

  &__subtitle {
    color: $grey-500;
    font-size: rem(14px);
    font-weight: 400;
    margin-bottom: rem(42px);
    width: 100%;

    @include screen-medium {
      font-size: rem(18px);
    }
  }

  &__radio-list {
    display: flex;
    margin-bottom: 10%;

    @include screen-medium {
      justify-content: center;
      flex-wrap: wrap;
    }

    @include screen-small {
      align-items: center;
      flex-direction: column;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-item {
    display: flex;
    align-items: center;

    @include screen-medium {
      margin-bottom: rem(10px);
    }

    &:not(:last-child) {
      margin-right: rem(30px);

      @include screen-small {
        margin-right: 0;
      }
    }
  }

  &__radio {
    display: inline-block;
    width: rem(14px);
    height: rem(14px);
    border-radius: 50%;
    border: 2px solid $grey-800;
    cursor: pointer;
    margin-right: rem(9px);

    @include screen-medium {
      width: rem(18px);
      height: rem(18px);
    }
  }

  &__radio-input:checked + &__radio {
    border: 3px solid $focus-color;
  }

  &__radio-wrap {
    display: flex;
    position: relative;
  }

  &__radio-label {
    display: inline-block;
    color: $text-primary;
    font-size: rem(14px);
    font-weight: 400;
    margin-right: rem(3px);
    vertical-align: bottom;
    line-height: 1em;
    white-space: nowrap;

    @include screen-medium {
      font-size: rem(20px);
    }
  }

  &__radio-hint-btn {
    display: inline-block;
    border-radius: 50%;
    color: $grey-800;
    font-size: rem(6px);
    font-weight: 600;
    border: 1px solid $grey-800;
    width: 1.5em;
    height: 1.5em;
    vertical-align: bottom;
    cursor: pointer;

    &:hover {
      color: $grey-700;
      border-color: $grey-700;
    }

    @include screen-medium {
      font-size: rem(12px);
    }
  }

  &__hint {
    position: absolute;
    background-color: $white;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: rem(205px);
    bottom: rem(-20px);
    left: rem(-20px);
    padding: rem(10px);
    transform: translateY(100%);
    visibility: hidden;
    opacity: 0;
    transition: 0.1s;
    z-index: 1;
  }

  &__hint-text {
    display: inline-block;
    width: 100%;
    font-size: rem(12px);
    font-weight: 400;
    color: $grey-700;
    text-align: left;
    white-space: initial;
  }

  &__radio-hint-btn:hover + &__hint {
    opacity: 1;
    visibility: visible;
  }

  &__bottom {
    margin-top: auto;
  }

  &__terms {
    display: flex;
    align-items: center;
    margin-bottom: rem(48px);

    @include screen-medium {
      justify-content: center;
    }

    @include screen-small {
      padding: 0 5%;
    }
  }

  &__checkbox-input {
    display: none;
  }

  &__checkbox {
    position: relative;
    display: inline-block;
    margin-right: rem(8px);
    width: rem(12px);
    height: rem(12px);
    flex-shrink: 0;
    border: 1px solid $grey-800;
    cursor: pointer;

    @include screen-medium {
      width: rem(16px);
      height: rem(16px);
    }
  }

  &__checkbox-input:checked + &__checkbox {
    border: 1px solid $focus-color;
  }

  &__checkbox-input:checked + &__checkbox::after {
    position: absolute;
    content: "\2713";
    color: $focus-color;
    font-size: 0.5em;
    text-align: center;
    line-height: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include screen-medium {
      font-size: 0.8em;
    }
  }

  &__checkbox-label {
    color: $grey-700;
    font-size: rem(12px);
    font-weight: 400;

    @include screen-medium {
      font-size: rem(16px);
    }
  }

  & &__submit-btn {
    @include screen-medium {
      font-size: rem(20px);
    }

    @include screen-small {
      font-size: rem(24px);
    }
  }
}
